<div class="login">
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><h1><span class="splash-description">Please enter your user information.</span></h1></div>
            <div class="card-body">
                <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                    <div class="form-group">
                        <input name="usuario"
                        class="form-control form-control-lg"
                        type="text"
                        formControlName="usuario"
                        required
                        ngModel text
                        autocomplete="off"
                        placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="password"
                        type="password"
                        formControlName="password"
                        required
                        [ngClass]="{
                        'border-danger' : password.invalid && (password.dirty || password.touched),
                        'border-success' : password.valid && (password.dirty || password.touched)
                        }"
                        placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> &nbsp; Sign in</button><br>
                    <button class="btn btn-primary btn-lg btn-block"> <i class="fab fa-google"></i> &nbsp; Sign in With Google</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Create An Account</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
